body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#canvas {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
    background-color: lightgrey;
    border: solid 4px black;
}

.allRows {
    display: flex;
    flex-grow: 1;    
}

.allCells {
    flex-grow: 1;
    border: solid 1px black;    
 }
